@font-face {
    font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
    src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
    src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
    src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    color: #333;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
    background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}

html, body{
    height: 100%;
}
/* 헤더 */

.container{
    height: 100%;
    width: 800px;
    margin: 0 auto;
}

.header{
    background: #242625;
    display: flex;
    padding: 16px 40px;
    justify-content: space-between;
    align-items: center;
}

.new-game{
    border: 1px solid #fff;
    border-radius: 30px;
    background: #fff;
    color: #333;
    padding: 8px 16px;
}

.header-right-area{
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.timer{
    color: #fff;
}

.item-btn i{
    color: #fff;
    padding-left: 10px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    height: calc(100% - 70px);
}

.side-left{
    background: #35403A;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
}

.side-right{
    background: #35403A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board{
    background: #4C594F;
}

/*side-left*/

.side-backward-card{
    width: 60px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.side-forward-card-1{
    width: 60px;
    margin-top: 180px;
    position: absolute;
}

.side-forward-card-2{
    width: 60px;
    margin-top: 200px;
    position: absolute;
}

.side-forward-card-3{
    width: 60px;
    position: absolute;
    margin-top: 220px;
    /* padding-bottom: 40px; */
}

/*side-right*/

.spade-card{
    width: 60px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.heart-card, .diamond-card{
    width: 60px;
    padding-bottom: 20px;
}

.clover-card{
    width: 60px;
}

/*game-board*/

.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 20px;
}

.card-area_1, .card-area_2, .card-area_3, .card-area_4, .card-area_5,
.card-area_6, .card-area_7{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/* card */

.backward-card-1, .forward-card-0{
    position: absolute;
    width: 60px;
    top: 40px; /* top으로 다 바꾸기 */
}

.backward-card-2, .forward-card-1{
    position: absolute;
    width: 60px;
    top: 60px;
}

.backward-card-3, .forward-card-2{
    position: absolute;
    width: 60px;
    top: 80px;
}

.backward-card-4, .forward-card-3{
    position: absolute;
    width: 60px;
    top: 100px;
}

.backward-card-5, .forward-card-4{
    position: absolute;
    width: 60px;
    top: 120px;
}

.backward-card-6, .forward-card-5{
    position: absolute;
    width: 60px;
    top: 140px;
}

.backward-card-7, .forward-card-6{
    position: absolute;
    width: 60px;
    top: 160px;
}

.forward-card-7{
    position: absolute;
    width: 60px;
    top: 180px;
}

.forward-card-8{
    position: absolute;
    width: 60px;
    top: 200px;
}

.forward-card-9{
    position: absolute;
    width: 60px;
    top: 220px;
}

.forward-card-10{
    position: absolute;
    width: 60px;
    top: 240px;
}

.forward-card-11{
    position: absolute;
    width: 60px;
    top: 260px;
}

.forward-card-12{
    position: absolute;
    width: 60px;
    top: 280px;
}

.forward-card-13{
    position: absolute;
    width: 60px;
    top: 300px;
}

/* 
게임판 자체를 축소하기
중복되는거 합치기
가운데 정렬
스크롤 없애기 */

/* css 우선 순위 */
/* element << 가장 낮음 ex) button, ul */
/* id > class */
/* important */
/* inline(style="color:red") 이게 가장 높음 */

/* 카드에리어 하나는 앞면 카드로 전부 바꿔보기 */
/* 헤더 상하 패딩으로 두지 말고 픽셀로 높이(height) 정하기 */

/* 카드 사이에 간격 줄이기(메인보드) */
/* 간격 잘 맞추기!! */
/* 카드 디자인 중에서 숫자랑 스페이드가 아래로 내려가게 되어있는데 숫자랑 스페이드 가로 한줄에 있게.. */
/* 카드 숫자만 보이게.. */
